@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url(img/IMG_4263.JPG) 0 0 no-repeat;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
    background-position-y: 15%;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
}

.content__firstnamemodel {
    font-weight: 300;
    margin-bottom: 0.2em;
    text-align: center;
    letter-spacing: -3px;
    text-shadow: 2px 2px 5px rgb(7, 7, 7);
    margin-top: 2em;
    user-select: none;
}

.content__position {
    margin-bottom: 21.440px;
    ;font-weight: 400;
    text-align: center;
    letter-spacing: -1.5px;
    text-shadow: 2px 2px 5px rgb(7, 7, 7);
    user-select: none;     
}

.content__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3em;
    
}

.links {
    text-decoration: none;
    line-height: 1.2;
    text-align: center;
    color: #ff6302;
    opacity: 0.85;
    font-weight: 400;
    margin-bottom: 1.3em;
}


.btn {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
    outline: none;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 385px;
    will-change: transform;
    background-color: rgba(255, 255, 255, 0.85);
}

.btn:disabled {
    pointer-events: none;
}

.btn:hover {
  color: #000000;
  background-color: rgba(226, 107, 121, 0.85);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: none;
  transform: translateY(0);
}

.btn1::after {
    content: url(img/onlyfans-logo-C7DEFE44F5-seeklogo.com.png);
    vertical-align: text-top;
    margin-left: 5px;
}

.btn2::after {
    content: '';
    font-size: 24px; 
    margin-left: 5px;
}

.btn3::after {
    content: url(img/telegram.png);
    vertical-align: text-top;
    margin-left: 5px;

}

.btn1 {
    margin-top: 0;
}



@media screen and (max-width: 380px) {
    .content {
        margin-top: 25%;
    }
}





